{{ form_start(form) }}
    <form class="d-flex flex-row w-75">
        {{ form_widget(form.q) }}
        {{ form_widget(form.context) }}
        {{ form_widget(form.send) }}
    </form>
{{ form_end(form) }}