{% extends 'base.html.twig' %}

{% block title %}Appuser index{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Index d'utilisateurs</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Roles</th>
                    <th>Mot de passe</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for appuser in appusers %}
                <tr>
                    <td>{{ appuser.id }}</td>
                    <td>{{ appuser.username }}</td>
                    <td>{{ appuser.roles ? appuser.roles|json_encode : '' }}</td>
                    <td>{{ appuser.password }}</td>
                    <td>
                        <a class="btn btn-light btn-outline-dark me-2" href="{{ path('appuser_show', {'id': appuser.id}) }}">Voir</a>
                        <a class="btn btn-light btn-outline-dark me-2" href="{{ path('appuser_edit', {'id': appuser.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Pas d'utilisateur trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-light btn-outline-dark me-2" href="{{ path('appuser_new') }}">Créer nouveau</a>
    </div>
{% endblock %}
