{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(formPost) }}
        <div class="p-2 container">
            <h2 class="my-3">Ajout d'article</h2>
            <div class="form-group">
                <label for="" class="ml-3">Titre</label>
                    {{ form_widget(formPost.title) }}

                <label for="" class="ml-3">Mots clés</label>   
                    {{ form_widget(formPost.keyword) }}


                {#          AJOUT DE QUILL      (ne prend pas en compte l'input 'form.content)      #}
                {# <div class="editor">
                </div> #}
                <label for="" class="ml-3">Contenu</label>  
                    {{ form_widget(formPost.content) }}
                
                <label for="" class="ml-3">Choisir un context</label>   
                {{ form_widget(formPost.context) }}

                {{ form_widget(formPost.obsoleted_date) }}                  
            </div>

            <div class="text-center">
                <button class="btn btn-dark m-3" type="submit">
                    {% if editMode %} Modifier {% else %} Ajouter {% endif %}
                </button>
                <a class="btn btn-dark m-3" href="{{ path('post') }}">Annuler</a>
            </div>
        </div>
    {{ form_end(formPost) }}

{% block script %}
<script>
    let toolbarOptions = [
    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
    ['blockquote', 'code-block'],

    [{ 'header': 1 }, { 'header': 2 }],               // custom button values
    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
    [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
    [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
    [{ 'direction': 'rtl' }],                         // text direction

    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
    [{ 'font': [] }],
    [{ 'align': [] }],

    ['clean']                                         // remove formatting button
];
let quill = new Quill('.editor', {
        modules: {
        toolbar: toolbarOptions
        },
        theme: 'snow'
    });
</script>
{% endblock %}

{% endblock %}
